#cover{
    background-image: url(../pics/medic.jpg);
    background-size: cover !important;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}